# 3.2º  Carga de base de datos

In [1]:
%pip install mysql-connector-python
%pip install SQLAlchemy==2.0.10
%pip install pymysql

Requirement already satisfied: mysql-connector-python in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy==2.0.10 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (2.0.10)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy==2.0.10) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy==2.0.10) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pymysql in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector as conn
import pandas as pd

In [3]:
from sqlalchemy import create_engine

Aquí conseguí crear la base de datos proyecto_pelis en MySQL

In [4]:
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password' 
                       )

cursor = conexion.cursor() 
cursor

In [5]:
c = cursor.execute

c('create database if not exists proyecto_pelis;')

Luego me empezó a dar problemas a conexión, y con una manera similar conseguí realizarlo

In [6]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))

- Actores

In [7]:
actores = pd.read_csv('../data_clean/actores_limp.csv')

In [8]:
actores.to_sql(name='actores',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

200

- Alquileres

In [9]:
alquileres = pd.read_csv('../data_clean/alquileres_limp.csv')

In [10]:
alquileres.to_sql(name='alquileres',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

212

- Categorías

In [11]:
categorias = pd.read_csv('../data_clean/categorias_limp.csv')

In [12]:
categorias.to_sql(name='categorias',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

16

- Idiomas

In [13]:
idiomas = pd.read_csv('../data_clean/idiomas_limp.csv')

In [14]:
idiomas.to_sql(name='idiomas',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

6

- Inventario

In [15]:
inventario = pd.read_csv('../data_clean/inventario_limp.csv')

In [16]:
inventario.to_sql(name='inventario',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

1000

- Películas

In [17]:
peliculas = pd.read_csv('../data_clean/peliculas_limp.csv')

In [18]:
peliculas.to_sql(name='peliculas',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

1386

- Reparto

In [19]:
reparto = pd.read_csv('../data_clean/reparto_limp.csv')

In [20]:
reparto.to_sql(name='reparto',      
            con=engine,          
            if_exists='replace',  
            index=False
           )

1000

# 3.3º Creación de uniones de los diagramas

In [26]:
# Esto no me ha funcionado...
'''
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost:3306/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))
 

with engine.connect() as con:
        con.execute(
        '''
        show * from actores;
        '''
        )
'''

ObjectNotExecutableError: Not an executable object: '\n        show * from actores;\n        '

In [ ]:
# valores revisados, int, varchar, etc
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `proyecto_pelis` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `proyecto_pelis` ;

-- -----------------------------------------------------
-- Table `proyecto_pelis`.`actores`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`actores` (
  `actor_id` BIGINT NOT NULL,
  `full_name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`actor_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`categorias`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`categorias` (
  `category_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`category_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`idiomas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`idiomas` (
  `language_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`language_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`peliculas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`peliculas` (
  `film_id` BIGINT NOT NULL,
  `title` TEXT NULL DEFAULT NULL,
  `description` TEXT NULL DEFAULT NULL,
  `language_id` BIGINT NULL DEFAULT NULL,
  `length` BIGINT NULL DEFAULT NULL,
  `rating` TEXT NULL DEFAULT NULL,
  `special_features` TEXT NULL DEFAULT NULL,
  `category_id` BIGINT NULL DEFAULT NULL,
  PRIMARY KEY (`film_id`),
  INDEX `language_id_idx` (`language_id` ASC) VISIBLE,
  INDEX `category_id_idx` (`category_id` ASC) VISIBLE,
  CONSTRAINT `category_id`
    FOREIGN KEY (`category_id`)
    REFERENCES `proyecto_pelis`.`categorias` (`category_id`),
  CONSTRAINT `language_id`
    FOREIGN KEY (`language_id`)
    REFERENCES `proyecto_pelis`.`idiomas` (`language_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`inventario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`inventario` (
  `inventory_id` BIGINT NOT NULL,
  `film_id` BIGINT NULL DEFAULT NULL,
  `store_id` BIGINT NULL DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  INDEX `film_id_idx` (`film_id` ASC) VISIBLE,
  CONSTRAINT `film_id`
    FOREIGN KEY (`film_id`)
    REFERENCES `proyecto_pelis`.`peliculas` (`film_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`alquileres`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`alquileres` (
  `rental_id` BIGINT NOT NULL,
  `rental_date` TEXT NULL DEFAULT NULL,
  `inventory_id` BIGINT NULL DEFAULT NULL,
  `customer_id` BIGINT NULL DEFAULT NULL,
  `return_date` TEXT NULL DEFAULT NULL,
  `staff_id` BIGINT NULL DEFAULT NULL,
  `rental_duration` BIGINT NULL DEFAULT NULL,
  `rental_rate` DOUBLE NULL DEFAULT NULL,
  PRIMARY KEY (`rental_id`),
  INDEX `inventory_id_idx` (`inventory_id` ASC) VISIBLE,
  CONSTRAINT `inventory_id`
    FOREIGN KEY (`inventory_id`)
    REFERENCES `proyecto_pelis`.`inventario` (`inventory_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

In [ ]:
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `proyecto_pelis` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `proyecto_pelis` ;

-- -----------------------------------------------------
-- Table `proyecto_pelis`.`actores`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`actores` (
  `actor_id` BIGINT NOT NULL,
  `full_name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`actor_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`idiomas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`idiomas` (
  `language_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`language_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`categorias`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`categorias` (
  `category_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`category_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`peliculas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`peliculas` (
  `film_id` BIGINT NOT NULL,
  `title` TEXT NULL DEFAULT NULL,
  `description` TEXT NULL DEFAULT NULL,
  `language_id` BIGINT NULL DEFAULT NULL,
  `length` BIGINT NULL DEFAULT NULL,
  `rating` TEXT NULL DEFAULT NULL,
  `special_features` TEXT NULL DEFAULT NULL,
  `category_id` BIGINT NULL DEFAULT NULL,
  PRIMARY KEY (`film_id`),
  INDEX `language_id_idx` (`language_id` ASC) VISIBLE,
  INDEX `category_id_idx` (`category_id` ASC) VISIBLE,
  CONSTRAINT `language_id`
    FOREIGN KEY (`language_id`)
    REFERENCES `proyecto_pelis`.`idiomas` (`language_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `category_id`
    FOREIGN KEY (`category_id`)
    REFERENCES `proyecto_pelis`.`categorias` (`category_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`inventario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`inventario` (
  `inventory_id` BIGINT NOT NULL,
  `film_id` BIGINT NULL DEFAULT NULL,
  `store_id` BIGINT NULL DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  INDEX `film_id_idx` (`film_id` ASC) VISIBLE,
  CONSTRAINT `film_id`
    FOREIGN KEY (`film_id`)
    REFERENCES `proyecto_pelis`.`peliculas` (`film_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`alquileres`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`alquileres` (
  `rental_id` BIGINT NOT NULL,
  `rental_date` TEXT NULL DEFAULT NULL,
  `inventory_id` BIGINT NULL DEFAULT NULL,
  `customer_id` BIGINT NULL DEFAULT NULL,
  `return_date` TEXT NULL DEFAULT NULL,
  `staff_id` BIGINT NULL DEFAULT NULL,
  `rental_duration` BIGINT NULL DEFAULT NULL,
  `rental_rate` DOUBLE NULL DEFAULT NULL,
  PRIMARY KEY (`rental_id`),
  INDEX `inventory_id_idx` (`inventory_id` ASC) VISIBLE,
  CONSTRAINT `inventory_id`
    FOREIGN KEY (`inventory_id`)
    REFERENCES `proyecto_pelis`.`inventario` (`inventory_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`reparto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`reparto` (
  `actor_id` BIGINT NULL DEFAULT NULL,
  `film_id` BIGINT NULL DEFAULT NULL,
  INDEX `actor_id_idx` (`actor_id` ASC) VISIBLE,
  INDEX `film_id_idx` (`film_id` ASC) VISIBLE,
  CONSTRAINT `reparto_actor_id`
    FOREIGN KEY (`actor_id`)
    REFERENCES `proyecto_pelis`.`actores` (`actor_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `reparto_film_id`
    FOREIGN KEY (`film_id`)
    REFERENCES `proyecto_pelis`.`peliculas` (`film_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;

# 4º Entity Relationship Diagram - ERD

ERD creado en MySQL

![Alt text](../images/diagrama_final2.png)