# 3.2º  Carga de base de datos

In [170]:
%pip install mysql-connector-python
%pip install SQLAlchemy==2.0.10
%pip install pymysql

Requirement already satisfied: mysql-connector-python in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy==2.0.10 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (2.0.10)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy==2.0.10) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (from SQLAlchemy==2.0.10) (3.0.1)
Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: pymysql in c:\users\blanx\appdata\local\programs\python\python311\lib\site-packages (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [171]:
import mysql.connector as conn
import pandas as pd

In [172]:
from sqlalchemy import create_engine

Aquí conseguí crear la base de datos proyecto_pelis en MySQL

In [173]:
conexion = conn.connect(host='localhost',
                        user='root',
                        passwd='password' 
                       )

cursor = conexion.cursor() 
cursor

In [174]:
c = cursor.execute

c('create database if not exists proyecto_pelis;')

Luego me empezó a dar problemas a conexión, y con una manera similar conseguí realizarlo

In [175]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))

- Actores

In [176]:
actores = pd.read_csv('../data_clean/actores_limp.csv')
print(actores)

     actor_id            full_name
0           1     PENELOPE GUINESS
1           2        NICK WAHLBERG
2           3             ED CHASE
3           4       JENNIFER DAVIS
4           5  JOHNNY LOLLOBRIGIDA
..        ...                  ...
195       196          BELA WALKEN
196       197           REESE WEST
197       198          MARY KEITEL
198       199        JULIA FAWCETT
199       200         THORA TEMPLE

[200 rows x 2 columns]

In [177]:
actores.to_sql(name='actores',      
            con=engine,          
            if_exists='append',  
            index=False
           )

200

- Categorías

In [178]:
categorias = pd.read_csv('../data_clean/categorias_limp.csv')

In [179]:
categorias.to_sql(name='categorias',      
            con=engine,          
            if_exists='append',  
            index=False
           )

17

- Idiomas

In [180]:
idiomas = pd.read_csv('../data_clean/idiomas_limp.csv')

In [181]:
idiomas.to_sql(name='idiomas',      
            con=engine,          
            if_exists='append',  
            index=False
           )

6

- Películas

In [182]:
peliculas = pd.read_csv('../data_clean/peliculas_limp.csv')

In [183]:
peliculas.to_sql(name='peliculas',      
            con=engine,          
            if_exists='append',  
            index=False
           )

733

- Reparto

In [184]:
reparto = pd.read_csv('../data_clean/reparto_limp.csv')

In [185]:
reparto.to_sql(name='reparto',      
            con=engine,          
            if_exists='append',  
            index=False
           )

347

- Inventario

In [189]:
inventario = pd.read_csv('../data_clean/inventario_limp.csv')

In [190]:
inventario.to_sql(name='inventario',      
            con=engine,          
            if_exists='append',  
            index=False
           )

701

- Alquileres

In [191]:
alquileres = pd.read_csv('../data_clean/alquileres_limp.csv')
print(alquileres)

     rental_id          rental_date  inventory_id  customer_id  \
0            1  2005-05-24 22:53:30           367          130
1           16  2005-05-25 00:43:11           389          316
2           17  2005-05-25 01:06:36           830          575
3           22  2005-05-25 02:19:23           727          509
4           29  2005-05-25 03:47:12           611           44
..         ...                  ...           ...          ...
148        964  2005-05-30 18:53:21           657          287
149        969  2005-05-30 19:23:48           443          551
150        983  2005-05-30 22:15:51            63          115
151        987  2005-05-30 22:59:12           390           11
152        995  2005-05-31 00:06:02            17          150

             return_date  staff_id  rental_duration  rental_rate
0    2005-05-26 22:04:30         1                7         2.99
1    2005-05-26 04:42:11         2                6         4.99
2    2005-05-27 00:43:36         1                7         2.99
3    2005-05-26 04:52:23         2                5         4.99
4    2005-05-30 00:31:12         2                6         0.99
..                   ...       ...              ...          ...
148  2005-06-04 22:32:21         2                3         0.99
149  2005-05-31 21:14:48         1                4         4.99
150  2005-06-02 22:56:51         1                6         0.99
151  2005-06-07 20:56:12         1                6         4.99
152  2005-06-06 02:30:02         2                5         2.99

[153 rows x 8 columns]

In [192]:
alquileres.to_sql(name='alquileres',      
            con=engine,          
            if_exists='append',  
            index=False
           )

153

# 3.3º Creación de uniones de los diagramas

Intenté crear las uniones del diagrama directamente desde python pero no lo conseguí

In [ ]:
# Esto no me ha funcionado...
'''
engine = create_engine("mysql+mysqlconnector://{user}:{pw}@localhost:3306/{db}"
                       .format(user="root",
                               pw="password",
                               db="proyecto_pelis"))
 

with engine.connect() as con:
        con.execute(
        '''
 '''
        show * from actores;
       
        )
'''

IndentationError: unexpected indent (4017774199.py, line 12)

Probé a realizarlo con MySQL y sí pude crearlo, pero los valores de cada tabla se me cambiaron y por más que intenté cambiarlos a mano, al realizar el forward engineer volvían a los valores iniciales direrentes. Ej: bigint, text, double, etc

In [ ]:
'''
-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema proyecto_pelis
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `proyecto_pelis` DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci ;
USE `proyecto_pelis` ;

-- -----------------------------------------------------
-- Table `proyecto_pelis`.`actores`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`actores` (
  `actor_id` BIGINT NOT NULL,
  `full_name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`actor_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`idiomas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`idiomas` (
  `language_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`language_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`categorias`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`categorias` (
  `category_id` BIGINT NOT NULL,
  `name` TEXT NULL DEFAULT NULL,
  PRIMARY KEY (`category_id`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`peliculas`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`peliculas` (
  `film_id` BIGINT NOT NULL,
  `title` TEXT NULL DEFAULT NULL,
  `description` TEXT NULL DEFAULT NULL,
  `language_id` BIGINT NULL DEFAULT NULL,
  `length` BIGINT NULL DEFAULT NULL,
  `rating` TEXT NULL DEFAULT NULL,
  `special_features` TEXT NULL DEFAULT NULL,
  `category_id` BIGINT NULL DEFAULT NULL,
  PRIMARY KEY (`film_id`),
  INDEX `language_id_idx` (`language_id` ASC) VISIBLE,
  INDEX `category_id_idx` (`category_id` ASC) VISIBLE,
  CONSTRAINT `language_id`
    FOREIGN KEY (`language_id`)
    REFERENCES `proyecto_pelis`.`idiomas` (`language_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `category_id`
    FOREIGN KEY (`category_id`)
    REFERENCES `proyecto_pelis`.`categorias` (`category_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`inventario`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`inventario` (
  `inventory_id` BIGINT NOT NULL,
  `film_id` BIGINT NULL DEFAULT NULL,
  `store_id` BIGINT NULL DEFAULT NULL,
  `replacement_cost` DOUBLE NULL DEFAULT NULL,
  PRIMARY KEY (`inventory_id`),
  INDEX `film_id_idx` (`film_id` ASC) VISIBLE,
  CONSTRAINT `film_id`
    FOREIGN KEY (`film_id`)
    REFERENCES `proyecto_pelis`.`peliculas` (`film_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`alquileres`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`alquileres` (
  `rental_id` BIGINT NOT NULL,
  `rental_date` TEXT NULL DEFAULT NULL,
  `inventory_id` BIGINT NULL DEFAULT NULL,
  `customer_id` BIGINT NULL DEFAULT NULL,
  `return_date` TEXT NULL DEFAULT NULL,
  `staff_id` BIGINT NULL DEFAULT NULL,
  `rental_duration` BIGINT NULL DEFAULT NULL,
  `rental_rate` DOUBLE NULL DEFAULT NULL,
  PRIMARY KEY (`rental_id`),
  INDEX `inventory_id_idx` (`inventory_id` ASC) VISIBLE,
  CONSTRAINT `inventory_id`
    FOREIGN KEY (`inventory_id`)
    REFERENCES `proyecto_pelis`.`inventario` (`inventory_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


-- -----------------------------------------------------
-- Table `proyecto_pelis`.`reparto`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `proyecto_pelis`.`reparto` (
  `actor_id` BIGINT NULL DEFAULT NULL,
  `film_id` BIGINT NULL DEFAULT NULL,
  INDEX `actor_id_idx` (`actor_id` ASC) VISIBLE,
  INDEX `film_id_idx` (`film_id` ASC) VISIBLE,
  CONSTRAINT `reparto_actor_id`
    FOREIGN KEY (`actor_id`)
    REFERENCES `proyecto_pelis`.`actores` (`actor_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION,
  CONSTRAINT `reparto_film_id`
    FOREIGN KEY (`film_id`)
    REFERENCES `proyecto_pelis`.`peliculas` (`film_id`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb4
COLLATE = utf8mb4_0900_ai_ci;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;
'''

# 4º Entity Relationship Diagram - ERD

ERD creado en MySQL

![Alt text](../images/diagrama_final3.png)

# 5º Queries

### Queremos Saber en que Peliculas ha aparecido un actor X 
```SQL
select actores.full_name, peliculas.title
from actores
INNER JOIN reparto on actores.actor_id = reparto.actor_id
INNER JOIN peliculas on peliculas.film_id = reparto.film_id   AND actores.full_name = 'ALEC WAYNE'
ORDER BY actores.full_name
```
```
ALEC WAYNE	CENTER DINOSAUR
ALEC WAYNE	CHAMBER ITALIAN
ALEC WAYNE	ENCOUNTERS CURTAIN
ALEC WAYNE	EXPRESS LONELY
ALEC WAYNE	HOURS RAGE
ALEC WAYNE	HUSTLER PARTY
ALEC WAYNE	JEOPARDY ENCINO
ALEC WAYNE	JOON NORTHWEST
ALEC WAYNE	OUTBREAK DIVINE
ALEC WAYNE	REIGN GENTLEMEN
ALEC WAYNE	SUMMER SCARFACE
```

### Cuales son las peliculas mas alquiladas
```SQL

SELECT peliculas.title, AVG(rental_duration) as `RentalDuration`
from peliculas
INNER JOIN inventario on inventario.film_id = peliculas.film_id 
INNER JOIN alquileres on alquileres.inventory_id  = inventario.inventory_id
GROUP BY peliculas.title
ORDER BY AVG(rental_duration) DESC
LIMIT 5;

```

```
BLANKET BEVERLY	7.0000
CHASING FIGHT	7.0000
CONTACT ANONYMOUS	7.0000
BROOKLYN DESERT	7.0000
CIDER DESIRE	7.0000
```

### Dame todas las peliculas de una categoria

```SQL

SELECT peliculas.title, categorias.name
FROM peliculas
INNER JOIN categorias on categorias.category_id = peliculas.category_id and categorias.name = 'Action'
```
```
BERETS AGENT	Action
CAMPUS REMEMBER	Action
CASUALTIES ENCINO	Action
CLUELESS BUCKET	Action
CROW GREASE	Action
DREAM PICKUP	Action
EASY GLADIATOR	Action
FIREHOUSE VIETNAM	Action
FOOL MOCKINGBIRD	Action
GRAIL FRANKENSTEIN	Action
HANDICAP BOONDOCK	Action
HILLS NEIGHBORS	Action
KISSING DOLLS	Action
MAGNOLIA FORRESTER	Action
MOCKINGBIRD HOLLYWOOD	Action
MONTEZUMA COMMAND	Action
QUEST MUSSOLINI	Action
RUGRATS SHAKESPEARE	Action
STORY SIDE	Action
TRUMAN CRAZY	Action
WEREWOLF LOLA	Action
```

### Dame las peliculas solo para mayores de 17 años
```SQL
SELECT peliculas.title, peliculas.rating
FROM peliculas
WHERE peliculas.rating = 'NC-17'
LIMIT 5
```
```
ALICE FANTASIA	NC-17
ALIEN CENTER	NC-17
ALLEY EVOLUTION	NC-17
ANONYMOUS HUMAN	NC-17
ARK RIDGEMONT	NC-17
```

### Dame Todas las peliculas de un determinado idioma

```SQL
SELECT peliculas.title, idiomas.name
FROM peliculas
INNER JOIN idiomas on idiomas.language_id = peliculas.language_id and idiomas.name = 'English'

```
```
ACE GOLDFINGER	English
AFFAIR PREJUDICE	English
AFRICAN EGG	English
AIRPLANE SIERRA	English
AIRPORT POLLOCK	English
ALAMO VIDEOTAPE	English
ALASKA PHANTOM	English
ALI FOREVER	English
ALICE FANTASIA	English
ALIEN CENTER	English
ALLEY EVOLUTION	English
ALTER VICTORY	English
```