# 2º Limpieza de datos

In [2]:
# librerias
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Limpieza de los datos de actores

In [3]:
actores=pd.read_csv('../data/actor.csv')

- Exploro los valores nulos y observamos que no hay

In [34]:
actores.isna().sum().sort_values(ascending=False)

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [5]:
actores.duplicated().any()

False

- Exploro los valores únicos

In [6]:
actores['actor_id'].unique() 
act_id = len(actores['actor_id'].unique())
act_id

200

In [7]:
actores['first_name'].unique() 
name1 = len(actores['first_name'].unique())
name1

128

In [8]:
actores['last_name'].unique() 
last1 = len(actores['last_name'].unique())
last1

121

Vemos que hay más nombres que apellidos, que puede tener sentido si alguna persona tiene el mismo apellido, por lo que decido combinar ambas tablas para simplificar

In [43]:
actores["full_name"] = actores["first_name"] + " " + actores["last_name"]
actores["full_name"]

0         PENELOPE GUINESS
1            NICK WAHLBERG
2                 ED CHASE
3           JENNIFER DAVIS
4      JOHNNY LOLLOBRIGIDA
              ...
195            BELA WALKEN
196             REESE WEST
197            MARY KEITEL
198          JULIA FAWCETT
199           THORA TEMPLE
Name: full_name, Length: 200, dtype: object

- Exploro los valores únicos - continuación

In [9]:
actores['last_update'].unique() # podemos observar que solo hay 1 valor único, es decir que los valores de cada fila son los mismos

array(['2006-02-15 04:34:33'], dtype=object)

- Decisión de borrado de columnas

In [35]:
actores.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

In [44]:
actores = actores.drop(["first_name","last_name"], axis=1) # borro el nombre y apellido de cada actor ya que cree una columna conjunta

- Comprobación final

In [45]:
actores.head()

   actor_id            full_name
0         1     PENELOPE GUINESS
1         2        NICK WAHLBERG
2         3             ED CHASE
3         4       JENNIFER DAVIS
4         5  JOHNNY LOLLOBRIGIDA

## Limpieza de los datos de categorías

In [10]:
categorias=pd.read_csv('../data/category.csv')

- Exploro los valores nulos y observamos que no hay

In [48]:
categorias.isna().sum().sort_values(ascending=False)

category_id    0
name           0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [12]:
categorias.duplicated().any()

False

- Exploro los valores únicos

In [13]:
categorias['category_id'].unique() 
cat_id = len(categorias['category_id'].unique())
cat_id

16

In [14]:
categorias['name'].unique() 
cat_name = len(categorias['name'].unique())
cat_name

16

In [15]:
categorias['last_update'].unique() #igual que el caso anterior

array(['2006-02-15 04:46:27'], dtype=object)

- Decisión de borrado de columnas

In [36]:
categorias.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

- Comprobación final

In [47]:
categorias.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

## Limpieza de los datos de películas

In [16]:
peliculas=pd.read_csv('../data/film.csv')

- Exploro los valores nulos y observamos que original_language_id tiene valores nulos

In [49]:
peliculas.isna().sum().sort_values(ascending=False)

original_language_id    1000
film_id                    0
title                      0
description                0
release_year               0
language_id                0
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
dtype: int64

- Exploro los valores duplicados y observamos que no hay

In [18]:
peliculas.duplicated().any()

False

- Exploro los valores únicos

In [19]:
peliculas['film_id'].unique() 
film_id = len(peliculas['film_id'].unique())
film_id

1000

In [20]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

In [21]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

In [ ]:
#borrar descripcion y poner el id de categoria

- Decisión de borrado de columnas

In [40]:
peliculas.drop('last_update', axis=1, inplace=True) # borro la columna de last_update
peliculas.drop('original_language_id', axis=1, inplace=True) # borro la columna de original_language_id, ya que solo tenia valores nulos

KeyError: "['last_update'] not found in axis"

## Estudio y limpieza de los datos de inventarios

In [22]:
inventario=pd.read_csv('../data/inventory.csv')

- Exploro las columnas con valores nulos y observamos que no hay

In [23]:
nan_cols = inventario.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [24]:
inventario.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

In [41]:
inventario.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

## Estudio y limpieza de los datos de idiomas de las películas

In [25]:
idiomas=pd.read_csv('../data/language.csv')

- Exploro los valores nulos y observamos que no hay

In [26]:
nan_cols = idiomas.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [27]:
idiomas.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

In [ ]:
idiomas.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

## Estudio y limpieza de los datos de disco duro

In [28]:
disco_duro_viejo=pd.read_csv('../data/old_HDD.csv')

- Exploro los valores nulos y observamos que no hay

In [29]:
nan_cols = disco_duro_viejo.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [30]:
disco_duro_viejo.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de alquileres

In [31]:
alquileres=pd.read_csv('../data/rental.csv')

- Exploro los valores nulos y observamos que no hay

In [32]:
nan_cols = alquileres.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [33]:
alquileres.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

In [ ]:
alquileres.drop('last_update', axis=1, inplace=True) # borro la columna de last_update