# 2º Limpieza de datos

In [2]:
# librerias
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Limpieza de los datos de actores

In [3]:
actores=pd.read_csv('../data/actor.csv')

- Exploro los valores nulos y observamos que no hay

In [34]:
actores.isna().sum().sort_values(ascending=False)

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [5]:
actores.duplicated().any()

False

- Exploro los valores únicos

In [6]:
actores['actor_id'].unique() 
act_id = len(actores['actor_id'].unique())
act_id

200

In [7]:
actores['first_name'].unique() 
name1 = len(actores['first_name'].unique())
name1

128

In [8]:
actores['last_name'].unique() 
last1 = len(actores['last_name'].unique())
last1

121

Vemos que hay más nombres que apellidos, que puede tener sentido si alguna persona tiene el mismo apellido, por lo que decido combinar ambas tablas para simplificar

In [43]:
actores["full_name"] = actores["first_name"] + " " + actores["last_name"]
actores["full_name"]

0         PENELOPE GUINESS
1            NICK WAHLBERG
2                 ED CHASE
3           JENNIFER DAVIS
4      JOHNNY LOLLOBRIGIDA
              ...
195            BELA WALKEN
196             REESE WEST
197            MARY KEITEL
198          JULIA FAWCETT
199           THORA TEMPLE
Name: full_name, Length: 200, dtype: object

- Exploro los valores únicos - continuación

In [77]:
actores['last_update'].unique() # podemos observar que solo hay 1 valor único, es decir que los valores de cada fila son los mismos

KeyError: 'last_update'

- Decisión de borrado de columnas

In [35]:
actores.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

In [44]:
actores = actores.drop(["first_name","last_name"], axis=1) # borro el nombre y apellido de cada actor ya que cree una columna conjunta

- Comprobación final

In [45]:
actores.head()

   actor_id            full_name
0         1     PENELOPE GUINESS
1         2        NICK WAHLBERG
2         3             ED CHASE
3         4       JENNIFER DAVIS
4         5  JOHNNY LOLLOBRIGIDA

## Limpieza de los datos de categorías

In [10]:
categorias=pd.read_csv('../data/category.csv')

- Exploro los valores nulos y observamos que no hay

In [48]:
categorias.isna().sum().sort_values(ascending=False)

category_id    0
name           0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [12]:
categorias.duplicated().any()

False

- Exploro los valores únicos

In [13]:
categorias['category_id'].unique() 
cat_id = len(categorias['category_id'].unique())
cat_id

16

In [14]:
categorias['name'].unique() 
cat_name = len(categorias['name'].unique())
cat_name

16

In [15]:
categorias['last_update'].unique() #igual que el caso anterior

array(['2006-02-15 04:46:27'], dtype=object)

- Decisión de borrado de columnas

In [36]:
categorias.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

- Comprobación final

In [47]:
categorias.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

## Limpieza de los datos de películas

In [16]:
peliculas=pd.read_csv('../data/film.csv')

- Exploro los valores nulos y observamos que original_language_id tiene valores nulos

In [49]:
peliculas.isna().sum().sort_values(ascending=False)

original_language_id    1000
film_id                    0
title                      0
description                0
release_year               0
language_id                0
rental_duration            0
rental_rate                0
length                     0
replacement_cost           0
rating                     0
special_features           0
dtype: int64

- Exploro los valores duplicados y observamos que no hay

In [18]:
peliculas.duplicated().any()

False

- Exploro algunos valores únicos

In [19]:
peliculas['film_id'].unique() 
film_id = len(peliculas['film_id'].unique())
film_id

1000

In [20]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

In [68]:
peliculas['language_id'].unique() 
language_id4  = len(peliculas['language_id'].unique())
language_id4

1

In [69]:
peliculas['release_year'].unique() 
release_year1 = len(peliculas['release_year'].unique())
release_year1

1

De aqui podemos sacar la siguiente info, en teoría tenemos mil títulos diferentes, los cuales solo están en 1 idioma, el inglés y además solo tienen el año de salida de 2006, lo cual parece mentira por lo que borraré también esa columna

- Decisión de borrado de columnas

In [40]:
peliculas.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

KeyError: "['last_update'] not found in axis"

In [50]:
peliculas.drop('original_language_id', axis=1, inplace=True) # borro la columna de original_language_id, ya que solo tenia valores nulos

In [51]:
peliculas.drop('description', axis=1, inplace=True) # borro la columna de description, ya que es muy larga

In [70]:
peliculas.drop('release_year', axis=1, inplace=True)

- Comprobación final

In [71]:
peliculas.head()

,film_id,title,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,1,6,2.99,130,22.99,G,Deleted Scenes

Tras verlo más limpio decido a futuro ponere el id de categoria y mover las categorias rental_duration	y rental_rate a otra tabla más adecuada, sea alquileres u otra

## Limpieza de los datos de inventarios

In [22]:
inventario=pd.read_csv('../data/inventory.csv')

- Exploro las columnas con valores nulos y observamos que no hay

In [53]:
inventario.isna().sum().sort_values(ascending=False)

inventory_id    0
film_id         0
store_id        0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [24]:
inventario.duplicated().any()

False

- Exploro algunos valores únicos

In [56]:
inventario['inventory_id'].unique() 
inventory_id1 = len(inventario['inventory_id'].unique())
inventory_id1

1000

In [59]:
inventario['film_id'].unique() 
film_id2 = len(inventario['film_id'].unique())
film_id2

207

Interesante que el numero de film_id no coincide con el inventory_id, podría deberse a que tiene varias películas en inventario iguales??

- Decisión de borrado de columnas

In [41]:
inventario.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

- Comprobación final

In [58]:
inventario.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

## Limpieza de los datos de idiomas de las películas

In [25]:
idiomas=pd.read_csv('../data/language.csv')

- Exploro los valores nulos y observamos que no hay

In [60]:
idiomas.isna().sum().sort_values(ascending=False)

language_id    0
name           0
last_update    0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [27]:
idiomas.duplicated().any()

False

- Exploro los valores únicos

In [62]:
idiomas['language_id'].unique() 
language_id1 = len(idiomas['language_id'].unique())
language_id1

6

In [63]:
idiomas['name'].unique() 
language_id1 = len(idiomas['name'].unique())
language_id1

6

- Decisión de borrado de columnas

In [64]:
idiomas.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

- Comprobación final

In [65]:
idiomas.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

## Estudio y limpieza de los datos de disco duro

In [28]:
disco_duro_viejo=pd.read_csv('../data/old_HDD.csv')

- Exploro los valores nulos y observamos que no hay

In [66]:
disco_duro_viejo.isna().sum().sort_values(ascending=False)

first_name      0
last_name       0
title           0
release_year    0
category_id     0
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [30]:
disco_duro_viejo.duplicated().any()

False

- Cambio de columnas first_name y last_name por full_name igual que hice con actores

In [78]:
disco_duro_viejo["full_name"] = disco_duro_viejo["first_name"] + " " + disco_duro_viejo["last_name"]
disco_duro_viejo["full_name"]

0      PENELOPE GUINESS
1      PENELOPE GUINESS
2      PENELOPE GUINESS
3      PENELOPE GUINESS
4      PENELOPE GUINESS
             ...
995        GOLDIE BRODY
996        GOLDIE BRODY
997        GOLDIE BRODY
998        GOLDIE BRODY
999        GOLDIE BRODY
Name: full_name, Length: 1000, dtype: object

- Exploro algunos valores únicos

In [74]:
disco_duro_viejo['release_year'].unique() #igual que el caso anterior, lo borraré
release_year2= len(disco_duro_viejo['release_year'].unique())
release_year2

1

In [73]:
disco_duro_viejo['category_id'].unique() 
category_id2 = len(disco_duro_viejo['category_id'].unique())
category_id2

16

- Decisión de borrado de columnas

In [75]:
disco_duro_viejo.drop('release_year', axis=1, inplace=True)

In [80]:
disco_duro_viejo = disco_duro_viejo.drop(["first_name","last_name"], axis=1) # borro el nombre y apellido de cada actor como antes

- Comprobación final

In [81]:
disco_duro_viejo.head()

                   title  category_id         full_name
0       ACADEMY DINOSAUR            6  PENELOPE GUINESS
1   ANACONDA CONFESSIONS            2  PENELOPE GUINESS
2            ANGELS LIFE           13  PENELOPE GUINESS
3  BULWORTH COMMANDMENTS           10  PENELOPE GUINESS
4          CHEAPER CLYDE           14  PENELOPE GUINESS

## Estudio y limpieza de los datos de alquileres

In [31]:
alquileres=pd.read_csv('../data/rental.csv')

- Exploro los valores nulos y observamos que no hay

In [32]:
nan_cols = alquileres.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [33]:
alquileres.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

In [ ]:
alquileres.drop('last_update', axis=1, inplace=True) # borro la columna de last_update

- Comprobación final