# 2º Limpieza de datos

In [1]:
# librerias
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Limpieza de los datos de actores

In [2]:
actores=pd.read_csv('src/actor.csv')

- Exploro los valores nulos y observamos que no hay

In [3]:
nan_cols = actores.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [4]:
actores.duplicated().any()

False

- Exploro los valores únicos

In [5]:
actores['actor_id'].unique() 
act_id = len(actores['actor_id'].unique())
act_id

200

In [6]:
actores['first_name'].unique() 
name1 = len(actores['first_name'].unique())
name1

128

In [7]:
actores['last_name'].unique() 
last1 = len(actores['last_name'].unique())
last1

121

In [8]:
actores['last_update'].unique() # podemos observar que solo hay 1 valor único, es decir que los valores de cada fila son los mismos

array(['2006-02-15 04:34:33'], dtype=object)

## Limpieza de los datos de categorías

In [9]:
categorias=pd.read_csv('src/category.csv')

- Exploro los valores nulos y observamos que no hay

In [10]:
nan_cols = categorias.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [11]:
categorias.duplicated().any()

False

- Exploro los valores únicos

In [12]:
categorias['category_id'].unique() 
cat_id = len(categorias['category_id'].unique())
cat_id

16

In [13]:
categorias['name'].unique() 
cat_name = len(categorias['name'].unique())
cat_name

16

In [14]:
categorias['last_update'].unique() #igual que el caso anterior

array(['2006-02-15 04:46:27'], dtype=object)

## Limpieza de los datos de películas

In [15]:
peliculas=pd.read_csv('data/film.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/film.csv'

- Exploro los valores nulos y observamos que no hay

In [ ]:
nan_cols = peliculas.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

original_language_id    1000
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [ ]:
peliculas.duplicated().any()

False

- Exploro los valores únicos

In [ ]:
peliculas['film_id'].unique() 
film_id = len(peliculas['film_id'].unique())
film_id

1000

In [ ]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

In [ ]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de inventarios

In [ ]:
inventario=pd.read_csv('data/inventory.csv')

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

- Exploro las columnas con valores nulos y observamos que no hay

In [ ]:
nan_cols = inventario.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [ ]:
inventario.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de idiomas de las películas

In [ ]:
idiomas=pd.read_csv('data/language.csv')

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19

- Exploro los valores nulos y observamos que no hay

In [ ]:
nan_cols = idiomas.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [ ]:
idiomas.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de discos duros

In [ ]:
discos_duros_viejos=pd.read_csv('data/old_HDD.csv')

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

- Exploro los valores nulos y observamos que no hay

In [ ]:
nan_cols = discos_duros_viejos.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [ ]:
discos_duros_viejos.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de alquileres

In [ ]:
alquileres=pd.read_csv('data/rental.csv')

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

- Exploro los valores nulos y observamos que no hay

In [ ]:
nan_cols = alquileres.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [ ]:
alquileres.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

# 2º Entity Relationship Diagram - ERD

Creado a mano por escrito y luego creado en MySQL

# 3º Creación y carga de base de datos