# 2º Limpieza de datos

In [16]:
# librerias
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import warnings
warnings.filterwarnings('ignore')

## Limpieza de los datos de actores

In [17]:
actores=pd.read_csv('src/actor.csv')

- Exploro los valores nulos y observamos que no hay

In [18]:
nan_cols = actores.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [19]:
actores.duplicated().any()

False

- Exploro los valores únicos

In [20]:
actores['actor_id'].unique() 
act_id = len(actores['actor_id'].unique())
act_id

200

In [21]:
actores['first_name'].unique() 
name1 = len(actores['first_name'].unique())
name1

128

In [22]:
actores['last_name'].unique() 
last1 = len(actores['last_name'].unique())
last1

121

In [23]:
actores['last_update'].unique() # podemos observar que solo hay 1 valor único, es decir que los valores de cada fila son los mismos

array(['2006-02-15 04:34:33'], dtype=object)

## Limpieza de los datos de categorías

In [24]:
categorias=pd.read_csv('src/category.csv')

- Exploro los valores nulos y observamos que no hay

In [25]:
nan_cols = categorias.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [26]:
categorias.duplicated().any()

False

- Exploro los valores únicos

In [27]:
categorias['category_id'].unique() 
cat_id = len(categorias['category_id'].unique())
cat_id

16

In [28]:
categorias['name'].unique() 
cat_name = len(categorias['name'].unique())
cat_name

16

In [29]:
categorias['last_update'].unique() #igual que el caso anterior

array(['2006-02-15 04:46:27'], dtype=object)

## Limpieza de los datos de películas

In [30]:
peliculas=pd.read_csv('src/film.csv')

- Exploro los valores nulos y observamos que no hay

In [31]:
nan_cols = peliculas.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

original_language_id    1000
dtype: int64

- Exploro los valores duplicados y observamos que tampoco hay

In [32]:
peliculas.duplicated().any()

False

- Exploro los valores únicos

In [33]:
peliculas['film_id'].unique() 
film_id = len(peliculas['film_id'].unique())
film_id

1000

In [34]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

In [35]:
peliculas['title'].unique() 
title1  = len(peliculas['title'].unique())
title1

1000

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de inventarios

In [36]:
inventario=pd.read_csv('src/inventory.csv')

- Exploro las columnas con valores nulos y observamos que no hay

In [37]:
nan_cols = inventario.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [38]:
inventario.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de idiomas de las películas

In [39]:
idiomas=pd.read_csv('src/language.csv')

- Exploro los valores nulos y observamos que no hay

In [40]:
nan_cols = idiomas.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [41]:
idiomas.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de discos duros

In [42]:
discos_duros_viejos=pd.read_csv('src/old_HDD.csv')

- Exploro los valores nulos y observamos que no hay

In [43]:
nan_cols = discos_duros_viejos.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [44]:
discos_duros_viejos.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas

## Estudio y limpieza de los datos de alquileres

In [45]:
alquileres=pd.read_csv('src/rental.csv')

- Exploro los valores nulos y observamos que no hay

In [46]:
nan_cols = alquileres.isna().sum().sort_values(ascending=False)

nan_cols[nan_cols>0]

Series([], dtype: int64)

- Exploro los valores duplicados y observamos que tampoco hay

In [47]:
alquileres.duplicated().any()

False

- Exploro los valores únicos

- Decisión de borrado de columnas